.student-login{
    .loging-form{
        height: 100vh;
        margin: 0 auto;
        .login-wrapp{
            padding: 40px 50px;
            .loging-thumb{
                margin-bottom: 40px;
            }
            .form-login{
                margin-top: 20px;
                input{
                    padding:5px 10px;
                    margin-bottom: 15px;
                }
                .form-check{
                    input{
                        padding: 8px;
                    }
                    label{
                        font-size: 15px;
                    }
                    a{
                        font-size: 14px;
                        padding-left: 10px;
                    }
                }
                button{
                    padding: 10px 30px !important;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    border-radius: 35px;
                }
            }
        }
    }
}